<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] ,input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.logo {
    display: block;
	margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    margin-top: -100px;
}

h2{
text-align:center;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.collapsible {
    background-color: #ED5153;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    margin-bottom: 5px;
}

.active, .collapsible:hover {
    background-color: #a21f21!important;
	color: #fff!important;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.selector {

    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
}

body {
    background-image: url(https://seoshop.webshopapp.com/assets/backoffice/gfx/background.png);
}

.wrapper {
    max-width: 1470px;
    margin: 100px auto 0 auto;
    border-radius: 5px;
	text-align:center;
}


button {
    border-radius: 5px;
	padding: 20px 40px;
	position: absolute;
	background-color:#EE5153;
	width:7%;
}

form {
    border: none;
}

.container {
    padding: 0 16px 16px;
}

h1 {
	text-align:center;
    font-size: 50px;
	font-weight:900;
	color:white;
}
.random_quote{
	text-align:center;
	font-size:25px;
	color:white;
	margin-bottom: 0px;
}

.random_author{
	text-align:center;
	font-size:15px;
	color:white;
	margin-top:0px;
}
</style>
</head>
<body>
<div class="wrapper">

	
    <img src="http://www.getseoshop.com/files/2015/12/LS-Logo-RedBlack-1024x234.png" alt="logo" class="logo">
	<h1 >403 access forbidden</h1>
	<p class="random_quote">{{quote_json[0]['quote']}}</p>
	<p class ="random_author">- {{quote_json[0]['author']}}</p>
	<button onclick="goBack()">Go Back</button>

<script>

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
function goBack() {
    window.history.back();
}
	</script>
<script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>	
</div>
</body>
</html>
