<!doctype html>
<html>
<head>
<script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="http://yourjavascript.com/0818444626/html2csv.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

</head>
   <body>
<div class = "wrapper">
	
   <style>



body {
    background-image: url(https://seoshop.webshopapp.com/assets/backoffice/gfx/background.png);
}
.table{
    margin-bottom: 0px;
}  
th {
    text-align: left;
}
.table th {
    font-weight: 600;
}

.table td {
    font-weight: 300;
	width: 70%;
}
.wrapper {
    background: rgb(57,63,76,0.5);
    max-width: 1470px;
    margin: 100px auto 0 auto;
    text-align: center;
    border-radius: 5px;
}

em {
	font-style: normal!important;
}

tr {
    background: #f3f3f3;
}

tr:nth-child(even) {
    background-color: #dddddd; */

}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
    float: left;
    padding: 35px 60px;
    background: #ed5153;
    max-width: 100%;
    color: #fff;
    min-width: 120px;
    font-weight: bolder;
    border-radius: 5px;
    border: 0;
}
h2 {
    text-align: center;
    color: #fff;
    font-weight: 600;
}
.knop {
    float: right;
    padding: 35px 30px;
    background: green;
    max-width: 100%;
    color: #fff;
    min-width: 120px;
    font-weight: bolder;
    border-radius: 5px;
    border: 0;
}
.knop2 {
    float: left;
    padding: 35px 30px;
    background: #ED5153;
    max-width: 100%;
    color: #fff;
    min-width: 120px;
    font-weight: bolder;
    border-radius: 5px;
    border: 0;
}

.active, .collapsible:hover {
    background: rgb(57,63,76,0.5)!important;
	color: #fff!important;
}

.collapsible {
    background:#ED5153;
    color: #3F4450;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
	margin-bottom: 2px;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 0px 1px;
}
</style>
<a class ='knop2' href="/" class="button">Home</a>
<a class ='knop' href="{{v2_url}}" class="button" target=_blank>Go to V2</a>
<table class="table">
    <tbody>
	<br>
	<h2>Shopgegevens</h2>
	<br>
        <tr>
         <th>Status en shopnummer</th>
		 <td>{{json_shop['shop']['status']}} - {{shopid}}
		 	{% if json_shop['shop']['is_retail'] or json_shop['shop']['is_onsite'] == True %}<em style="font-weight: 900">(OMNI)</em>{% endif %}
        </tr>
        <tr>
         <th>V1</th>
		 <td ><a href = "{{v1_url}}" target ="_blank">Inloggen in V1</a></td>
        </tr>
        <tr>
         <th>V2</th>
		 <td ><a href = "{{v2_url}}" target ="_blank">Inloggen in V2</a></td>
        </tr>
		<tr>
		{% for usr in json_user['shop_users'] %}
		  {% if usr['is_shop_owner'] == True %}
			<th>Webwinkeleigenaar</th>
			<td>{{usr['user']['fullname']}}</td>
        </tr>
		<tr>
			<th>Email</th>
			<td>{{usr['user']['email']}}</td>
        </tr>
		<tr>
          <th>Telefoonnummer</th>
          <td>{{usr['user']['phone']}}</td>
        </tr>
		  {% endif %}
		{% endfor %}
{#		<tr>
		<th>Shop status</th>
		<td>{{json_shop['shop']['status']}}</td>
		</tr>#}
		<tr>
        <th>Betaalmethoden</th>
        <td><a href="{{payment_url}}" target="_blank">Ga naar betaalmethoden</a></td>
        </tr>
		<tr>
        <th>Verzendmethoden</th>
        <td><a href="{{shipping_url}}" target="_blank">Ga naar verzendmethoden</a></td>
        </tr>
    </tbody>
</table>
<button class="collapsible"><h2>Domein informatie</h2></button>
<div class="content">
<table class="table">

	<tbody>
        <tr>
		{% if domeinnaam == 'example.com' %}	
		  <td>Er is nog geen domein gekoppeld aan deze webshop. Stuur de klant de volgende handleiding mee indien hij zijn domein wilt koppelen: 
		  <a href = 'https://ecom-support.lightspeedhq.com/hc/nl/articles/115006448468-Het-domein-van-je-winkel-instellen#existing' target ="_blank">
		  handleiding</a><br><br>De DNS records die toegevoegd moeten worden zijn:
		  <br><b>A</b> record: <b>87.250.130.135</b><br><b>CNAME</b> record: <b>{{cname_check}}</b></br></td>
		{% else %}
			<th>Domein</th>
			<td ><a href = "http://{{domeinnaam}}" target ="_blank">{{domeinnaam}}</a></td>
        </tr>
		{% endif %}
        <tr>
		{% if domeinnaam == 'example.com' %}
		{% elif json_ns_dns['error'] == 'NXDOMAIN' %}
		<th>Nameserver</th>
		<td></td>
		{% else %}	
		{% for nameserver in json_ns_dns %}
			<th>Nameserver {{loop.index}}</th>
			<td>{{nameserver['value']}}</td>
        </tr>
		{% endfor %}
		{% endif %}
        <!-- <tr>
		{% if domeinnaam == 'example.com' %} 
		{% else %}
			{% if status == 'active' %}
			<th>Status</th>
			<td ><font color = "green">{{status}}</font></td>
			{% else %}
			<th>Status</th>
			<td ><font color = "red">{{status}} </font><br><b>Raad de klant aan om contact op te nemen met zijn hostingprovider!</b></br></td>
			{% endif %}
		{% endif %}	
        </tr> -->
		<tr>
		{% if domeinnaam == 'example.com' %}	
		{% elif json_a_dns['error'] == 'NXDOMAIN' %}
		<th>A record</th>
		<td></td>
		{% else %}
			{% if json_a_dns['value'] == '87.250.130.135' %}
			<th>A record</th>
          	<td><font color = "green"><b>{{json_a_dns[0]['value']}}</b></font></td>
			{% elif json_a_dns['value'] == '87.250.144.181' %}
			<th>A record</th>
			<td><font color = 'red'>{{json_a_dns['value']}}</font> <br>Het A record voor dit domein is verouderd, hierdoor kan de klant geen
			gebruik maken van een SSL certificaat. Dit is het correcte A record: <b>87.250.130.135</b></br> </td>
			{% else %} 
			<th>A record</th>
			<td><font color = 'red'>{{json_a_dns['value']}}</font> <br>Het A record voor dit domein is incorrect,
			dit is het correcte A record: <b>87.250.130.135</b></br> </td>
			{% endif %}	
        </tr>
		{% endif %}
		<tr>
		{% if domeinnaam == 'example.com' %}
		{% elif json_cname_dns['error'] == 'NXDOMAIN' %}
		<th>CNAME record</th>
		<td></td>
		{% else %}
			{% if json_cname_dns['value'] == cname_check %}
			<th>CNAME record</th>
			<td><font color = "green"><b>{{json_cname_dns['value']}}</b></font></td>
			{% else %}
			<th>CNAME record</th>
			<td><font color = "red">{{json_cname_dns['value']}}</font> <br>Het CNAME record voor dit domein is incorrect,
			dit is het correcte CNAME record: <b>{{cname_check}}</b></br></td>
		{% endif %}
		{% endif %}
        </tr>
		<tr>
		{% if domeinnaam == 'example.com' %}
		{% elif json_mx_dns['error'] == 'NXDOMAIN' %}
		<th>MX record</th>
		<td></td>	
		{% else %}
			<th>MX record</th>
{#			<td>{{json_mx_dns[0]['value']}}</td>#}
		{% endif %}
        </tr>
		<tr>
		{% if domeinnaam == 'example.com' %}
		{% elif json_txt_dns['error'] == 'NXDOMAIN' %}
		<th>TXT record</th>
		<td></td>	
		{% else %}
			<th>TXT record</th>
			<td>{{json_txt_dns['value']}}</td>
		{% endif %}
        </tr>
    </tbody>
</table>
</div>
<button class="collapsible"><h2>Abonnement informatie</h2></button>
<div class="content">
<table class="table">
    <tbody>
	{% if json_shop['shop']['is_demo'] == False %}
        <tr>
        <th>Max aantal producten</th>
		<td>{{json_shop['shop']['subscription']['max_products']}}</td>
        </tr>
        <tr>
        <th>Max aantal talen</th>
		<td >{{json_shop['shop']['subscription']['max_languages']}}</td>
        </tr>
        <tr>
        <th>Max aantal gebruikers</th>
		<td></a>{{json_shop['shop']['subscription']['max_user_accounts']}}</td>
        </tr>
		<tr>
		{% if json_shop['shop']['subscription']['has_template_editor'] == True %}
		<th>Toegang tot template editor</th>
		<td>Ja</td>
		{% else %}
		<th>Toegang tot template editor</th>
		<td>Nee</td>
		{% endif %}
        </tr>
		<tr>
		{% if json_shop['shop']['subscription']['has_product_discounts'] == True %}
		<th>Heeft kortingsregels</th>
		<td>Ja</td>
		{% else %}
		<th>Heeft kortingsregels</th>
		<td>Nee</td>
		{% endif %}
        </tr>
		<tr>
		{% if json_shop['shop']['subscription']['has_product_bundles'] == True %}	
        <th>Heeft productbundels</th>
        <td>Ja</td>
		{% else %}
		<th>Heeft productbundels</th>
		<td>Nee</td>
		{% endif %}
        </tr>
		<tr>
		{% if json_shop['shop']['subscription']['has_template_editor'] == True %}	
        <th>Heeft Content templates</th>
        <td>Ja</td>
		{% else %}
		<th>Heeft Content templates</th>
		<td>Nee</td>
		{% endif %}
        </tr>
		<tr>
	{% else %}
		<td>Dit betreft een demo shop, hiervoor zijn geen abonnement gegevens beschikbaar.</td>
		</tr>
	{% endif %}	
    </tbody>
</table>
</div>

<button class="collapsible"><h2>Betaalproviders bekijken</h2></button>
<div class="content">
<table class="table">
    <tbody>
	{% for provider in json_pay['payment_provider_shops'] %}
        <tr>
		{% if provider['is_active'] == True %}
        <th>{{provider['payment_provider']['title']}}</th>
		<td><a href = "{{payment_url}}/{{provider['id']}}" target ="_blank">Ga naar betaalprovider</td>
		{% endif %}
	{% endfor %}
    </tbody>
</table>
</div>

<button class="collapsible"><h2>Instellingen</h2></button>
<div class="content">
<table class="table">
    <tbody>
    	<tr>
		{% if json_flow['shop']['multishop_id'] is not none %}
        <th>Multishop</th>
        <td>Ja</td>
		{% else %}
		<th>Multishop</th>
        <td>Nee</td>
		{% endif %}
        </tr>
        <tr>
		{% if json_flow['shop']['shop_setting']['notify_order_cancelled'] == True %}
        <th>Notificatie geannuleerde order</th>
		<td>Ja</td>
		{% else %}
		<th>Notificatie geannuleerde order</</th>
		<td>Nee</td>
		{% endif %}
        </tr>
        <tr>
		{% if json_flow['shop']['shop_setting']['notify_order_confirmation'] == True %}
        <th>Notificatie orderbevestiging</th>
		<td >Ja</td>
		{% else %}
		<th>Notificatie orderbevestiging</</th>
		<td>Nee</td>
		{% endif %}
        </tr>
        <tr>
		{% if json_flow['shop']['shop_setting']['notify_order_invoice'] == True %}
        <th>Notificatie aanmaken factuur</th>
		<td></a>Ja</td>
		{% else %}
		<th>Notificatie aanmaken factuur</</th>
		<td>Nee</td>
		{% endif %}
        </tr>
		<tr>
		{% if json_flow['shop']['shop_setting']['notify_order_paid'] == True %}
		<th>Notificatie order betaald</th>
		<td>Ja</td>
		{% else %}
		<th>Notificatie order betaald</th>
		<td>Nee</td>
		{% endif %}
        </tr>
    </tbody>
</table>
</div>
	<script>
	function goBack() {
    window.history.back();
}
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}	
	</script>
	</div>

   </body>
</html>